/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
.env
/local.env
/public/static_img/	    
/.vs
/CMS.phpproj
/public/static_img
/CMS.sln
/storage
/public/access.log
/public/error.log
cms-access.log
cms-error.log